@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field, .textarea-field, .option-field {
    @apply 
    text-sm
    font-medium
    text-slate-700
    bg-slate-100
    border
    rounded-md
    px-3
    py-3
    focus:outline-none 
    focus:ring-2 
    focus:ring-blue-700 
    focus:ring-opacity-50
    w-full
}

.primary-button {
    @apply
    bg-blue-700
    rounded-md
    px-6
    py-2
    text-sm
    text-slate-50
    font-sans
    font-semibold
    focus:outline-none
    focus:ring-2
    focus:ring-blue-800
    focus:ring-opacity-50
}

.warning-button {
    @apply
    bg-orange-700
    rounded-md
    px-6
    py-2
    mx-1
    text-sm
    text-slate-50
    font-sans
    font-semibold
    focus:outline-none
    focus:ring-2
    focus:ring-orange-800
    focus:ring-opacity-50
}

.danger-button {
    @apply
    bg-red-700
    rounded-md
    px-6
    py-2
    mx-1
    text-sm
    text-slate-50
    font-sans
    font-semibold
    focus:outline-none
    focus:ring-2
    focus:ring-red-800
    focus:ring-opacity-50
}